.Rproj.user
.Rhistory
.RData
.Ruserdata
code/RDA/blocks_data_AK.rds
code/RDA/blocks_data_AL.rds
code/RDA/blocks_data_AR.rds
code/RDA/blocks_data_AZ.rds
code/RDA/blocks_data_CA.rds
code/RDA/blocks_data_CO.rds
code/RDA/blocks_data_CT.rds
code/RDA/blocks_data_DE.rds
code/RDA/blocks_data_FL.rds
code/RDA/blocks_data_GA.rds
code/RDA/blocks_data_HI.rds
code/RDA/blocks_data_IA.rds
code/RDA/blocks_data_ID.rds
code/RDA/blocks_data_IL.rds
code/RDA/blocks_data_IN.rds
code/RDA/blocks_data_KS.rds
code/RDA/blocks_data_KY.rds
code/RDA/blocks_data_LA.rds
code/RDA/blocks_data_MA.rds
code/RDA/blocks_data_MD.rds
code/RDA/blocks_data_ME.rds
code/RDA/blocks_data_MI.rds
code/RDA/blocks_data_MN.rds
code/RDA/blocks_data_MO.rds
code/RDA/blocks_data_MS.rds
code/RDA/blocks_data_MT.rds
code/RDA/blocks_data_NC.rds
code/RDA/blocks_data_ND.rds
code/RDA/blocks_data_NE.rds
code/RDA/blocks_data_NH.rds
code/RDA/blocks_data_NJ.rds
code/RDA/blocks_data_NM.rds
code/RDA/blocks_data_NV.rds
code/RDA/blocks_data_NY.rds
code/RDA/blocks_data_OH.rds
code/RDA/blocks_data_OK.rds
code/RDA/blocks_data_OR.rds
code/RDA/blocks_data_PA.rds
code/RDA/blocks_data_RI.rds
code/RDA/blocks_data_SC.rds
code/RDA/blocks_data_SD.rds
code/RDA/blocks_data_TN.rds
code/RDA/blocks_data_TX.rds
code/RDA/blocks_data_UT.rds
code/RDA/blocks_data_VA.rds
code/RDA/blocks_data_VT.rds
code/RDA/blocks_data_WA.rds
code/RDA/blocks_data_WI.rds
code/RDA/blocks_data_WV.rds
code/RDA/blocks_data_WY.rds
data/CanadaPop/ldb_000b21a_e.zip
data/CanadaPop/ldb_000b21a_e/ldb_000b21a_e.dbf
data/CanadaPop/ldb_000b21a_e/ldb_000b21a_e.DGUID.atx
data/CanadaPop/ldb_000b21a_e/ldb_000b21a_e.prj
data/CanadaPop/ldb_000b21a_e/ldb_000b21a_e.shp
data/CanadaPop/ldb_000b21a_e/ldb_000b21a_e.shx
data/CanadaPop/ldb_000b21a_e/ldb_000b21a_e.xml
data/CanadaPop/schema.ini
data/derive/all_bike_Ca_pop_0425.dbf
data/derive/all_bike_Ca_pop_0425.prj
data/derive/all_bike_Ca_pop_0425.shp
data/derive/all_bike_Ca_pop_0425.shx
data/USpop/US_block_pop.cpg
data/USpop/US_block_pop.dbf
data/USpop/US_block_pop.prj
data/USpop/US_block_pop.sbn
data/USpop/US_block_pop.sbx
data/USpop/US_block_pop.shp
data/USpop/US_block_pop.shp.xml
data/USpop/US_block_pop.shx
code/RDA.zip
data/USpop/USpop.shx
data/USpop/USpop.shp.xml
data/USpop/USpop.shp
data/USpop/USpop.sbx
data/USpop/USpop.sbn
data/USpop/USpop.prj
data/USpop/USpop.dbf
data/USpop/USpop.cpg
data/derive/all_bike_pop_0425.dbf
data/derive/all_bike_pop_0425.prj
data/derive/all_bike_pop_0425.shp
data/derive/all_bike_pop_0425.shx
